<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.CodeGears.AuntiAnne"
      android:versionCode="11"
      android:versionName="1.23">
      
      <supports-screens android:smallScreens="false"
                      android:normalScreens="true"
                     android:largeScreens="true"
                      android:xlargeScreens="true"
                      android:anyDensity="true"
                       />
    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:name="MainApp">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".IntroActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
        
        <activity android:name=".TabActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>

		<activity android:name=".NewsListActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
        
        <activity android:name=".DetailsActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".EcardDecorateActivity"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="adjustResize"
                  android:screenOrientation="portrait">
        </activity>
        

		<uses-library android:required="true" android:name="com.google.android.maps"></uses-library> 
		
		
    </application>
</manifest>